* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header,
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid #222;
}

img {
    width: 100%;
    height: auto;
}

section {
    margin: 20px 0;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px;
    background-color: #abe;
    font-size: .9rem;
}

section p {
    margin: 10px;
}

ul {
    margin: 10px 20px;
}

footer {
    font-size: .9rem;
}

nav {
    background-color: #2c3e50;
    padding: 15px 20px;
}

nav a {
    color: #ecf0f1;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}

nav a:hover {
    background-color: #34495e;
}

main {
    max-width: 840px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    /* 1 */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}